$margin-xs: 5px;
$margin-s: 10px;
$margin-m: 15px;
$margin-l: 20px;
$margin-xl: 25px;

body {
  background-image: url("./images/back.png");
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
  margin: $margin-s;
}

.header {
  margin: $margin-s;
}

.main {
  position: relative;
  top: 50px;
}

.modal {
  &-card {
    &-image {
      border: 1px solid black;
    }
    &-info {
      margin: $margin-xs;
      &-title {
        margin: $margin-xs;
        font-size: 1em;
        border-radius: 5px;
      }
      &-detail {
        margin: $margin-xs;
        width: 550px;
        font-size: 1em;
        border-radius: 5px;
      }
      &-panel {
        margin: $margin-xs;
      }
    }
  }
  &-btn {
    &-close {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  padding: $margin-m;
  background-color: rgba(140, 255, 205, 0.7);
  & li {
    font-size: 1.2em;
    & a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      padding: $margin-s;
      margin: $margin-s;
      color: rgb(100, 100, 100);
      &:hover {
        color: rgba(73, 70, 250, 0.75);
        border-radius: 10px;
      }
    }
  }
}
