$margin-xs: 5px;
$margin-s: 10px;
$margin-m: 15px;
$margin-l: 20px;
$margin-xl: 25px;

.cards-input {
  visibility: hidden;
  font-size: 0.5em;
  &-label {
    margin-left: $margin-s;
    margin-top: $margin-m;
    position: relative;
    border-radius: 10px;
    display: block;
    border: 1px solid rgba(70, 209, 230, 0.75);
    width: 120px;
    height: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(70, 210, 230);
    transition: all 0.5s;
    &:hover {
      background-color: rgba(70, 210, 230, 0.8);
      color: rgb(245, 254, 255);
      transition: all 0.5s;
    }
  }
  &-name {
    font-size: 1em;
    position: absolute;
    left: 45px;
    top: 6.5px;
  }
}

.card {
  width: 220px;
  height: 150px;
  border: 1px solid black;
  display: block;
  position: absolute;
  top: 35px;
  left: 10px;
  &-info {
    position: absolute;
    top: 40px;
    left: 250px;
    font-size: 0.8em;
  }
  &-name {
    position: absolute;
    top: 10px;
    left: 35px;
  }
  &-panel {
    position: relative;
    margin: $margin-s;
    padding: $margin-xs;
    width: 250px;
    height: 200px;
    display: inline-block;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
  }
  &-btn {
    &-delete {
      position: absolute;
      top: -5px;
      left: -5px;
    }
  }
}

.btn {
  &-reading {
    margin: $margin-m;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 10px;
    display: block;
    border: 1px solid rgb(45, 230, 45);
    width: 120px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(45, 230, 45);
    transition: all 0.5s;
    &:hover {
      background-color: rgba(45, 230, 45, 0.75);
      color: rgb(255, 255, 255);
      transition: all 0.5s;
    }
    &:focus {
      outline: 0;
    }
  }
}

.reading-btn-list{
  display: flex;
}